body {
  background-color: rgb(238, 204, 204);
}

/* header */

header {
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(196, 175, 175);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 90;
}

header nav {
  height: 100%;
}

/* nav */
.navItems {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  height: 100%;
}

/* navItem */

.navItem {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  align-items: center;
}

.navItem a {
  color: white;
  text-decoration: none;
  padding: 16px 10px;
  border-bottom: 4px solid transparent;
  box-sizing: border-box;
  display: block;
}

.navItem a:hover,
.navItem a:active,
.navItem a.active {
  background-color: white;
  color: black;
}
